<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h1>Bienvenido a {{title}}</h1>
      <p>El mejo catalogo de fotos de gatitos de la internet</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
  </div>
</div>

